name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:

    - name: Clone Repository
      uses: actions/checkout@v3

    - name: Build Docker Image
      run: docker build -t sanjeevrk4145/student-app:latest .

    - name: Login to Docker Hub
      if: github.event_name == 'push'
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Push Docker Image
      if: github.event_name == 'push'
      run: docker push sanjeevrk4145/student-app:latest